name: Checking links

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "00 16 * * *"

jobs:
  link_checker:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.84.0'
          extended: true

      - name: Building for production
        run: make build

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.4.1
        args: --exclude sms-digital.com linkedin -- public
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Create Issue From File
        if: ${{ steps.lychee.outputs.exit_code }} != 0
        uses: peter-evans/create-issue-from-file@v3
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue
